.container.basic {
  max-width: 1200px;
}

.container.banner {
  max-width: 1464px;
}

.container.about-section {
  max-width: 1000px;
}

.container.recipe-details {
  max-width: 800px;
}

.home-banner {
  max-width: 1440px;
}

.company-logo {
  max-width: 150px;
}

.dish-large-image {
  max-width: 760px;
  max-height: 450px;
}

.dish-medium-image {
  max-width: 560px;
  max-height: 350px;
}

.dish-small-image {
  max-width: 360px;
  max-height: 350px;
}

.portrait {
  max-width: 460px;
  max-height: 450px;
}
